In [1]:
import pandas as pd

In [2]:
olympics=pd.read_csv('../data/raw/Summer_Olympics_1896_to_2008.csv')

In [3]:
olympics.head()

,"List of medallists at the Games of the Olympiad per edition, sport, discipline, gender and event",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DISCLAIMER: The IOC Research and Reference Ser...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
4,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold

Above Dataset has some unnecessary rows, let's clean the data

In [4]:
olympics=pd.read_csv('../data/raw/Summer_Olympics_1896_to_2008.csv',skiprows=4)

In [5]:
olympics.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

Importting the second dataset

In [6]:
countries=pd.read_csv('../data/raw/Countries_NOC_Population.csv')

In [7]:
countries.head()

           Country  NOC  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

Cleaning the dataframes: Checking for null values, removing un-necessary columns

In [12]:
olympics.isnull().sum()

City            0
Edition         0
Sport           0
Discipline      0
Athlete         0
NOC             0
Gender          0
Event           0
Event_gender    0
Medal           0
dtype: int64

In [13]:
countries.isnull().sum()

Country            0
NOC                0
Population         8
GDP per Capita    28
dtype: int64

In [18]:
olympics.drop(columns=['Event_gender','City'],inplace=True)

# Formulate one or two ideas on how the data sets could be combined to establish additional value using exploratory data analysis

Merging the dataset with the first and second dataset could give us insights like:<br>
1.Country's performance overall in all olympic games(no of medals etc..) <br>
2.Country's performance in a particular edition in specific event<br>
3.How men and women from each country fared overall<br>

# Merging two dataframes on "NOC"

In [19]:
olympics_country= pd.merge(olympics,countries,on="NOC")

In [21]:
olympics_country.drop(columns='NOC',inplace=True)
olympics_country.head()

,Edition,Sport,Discipline,Athlete,Gender,Event,Medal,Country,Population,GDP per Capita
0,1896,Aquatics,Swimming,"HAJOS, Alfred",Men,100m freestyle,Gold,Hungary,9844686.0,12363.54346
1,1896,Aquatics,Swimming,"HAJOS, Alfred",Men,1200m freestyle,Gold,Hungary,9844686.0,12363.54346
2,1896,Athletics,Athletics,"SZOKOLYI, Alajos",Men,100m,Bronze,Hungary,9844686.0,12363.54346
3,1896,Athletics,Athletics,"DANI, Nandor",Men,800m,Silver,Hungary,9844686.0,12363.54346
4,1896,Athletics,Athletics,"KELLNER, Gyula",Men,marathon,Bronze,Hungary,9844686.0,12363.54346

In [24]:
gp=olympics_country.groupby('Country')

In [28]:
gp.get_group("United States")

,Edition,Sport,Discipline,Athlete,Gender,Event,Medal,Country,Population,GDP per Capita
1344,1896,Athletics,Athletics,"LANE, Francis",Men,100m,Bronze,United States,321418820.0,56115.71843
1345,1896,Athletics,Athletics,"BURKE, Thomas",Men,100m,Gold,United States,321418820.0,56115.71843
1346,1896,Athletics,Athletics,"CURTIS, Thomas",Men,110m hurdles,Gold,United States,321418820.0,56115.71843
1347,1896,Athletics,Athletics,"BLAKE, Arthur",Men,1500m,Silver,United States,321418820.0,56115.71843
1348,1896,Athletics,Athletics,"BURKE, Thomas",Men,400m,Gold,United States,321418820.0,56115.71843
1349,1896,Athletics,Athletics,"JAMISON, Herbert",Men,400m,Silver,United States,321418820.0,56115.71843
1350,1896,Athletics,Athletics,"GARRETT, Robert",Men,discus throw,Gold,United States,321418820.0,56115.71843
1351,1896,Athletics,Athletics,"CLARK, Ellery",Men,high jump,Gold,United States,321418820.0,56115.71843
1352,1896,Athletics,Athletics,"CONNOLLY, James",Men,high jump,Silver,United States,321418820.0,56115.71843
1353,1896,Athletics,Athletics,"GARRETT, Robert",Men,high jump,Silver,United States,321418820.0,56115.71843
1354,1896,Athletics,Athletics,"CONNOLLY, James",Men,long jump,Bronze,United States,321418820.0,56115.71843
1355,1896,Athletics,Athletics,"CLARK, Ellery",Men,long jump,Gold,United States,321418820.0,56115.71843
1356,1896,Athletics,Athletics,"GARRETT, Robert",Men,long jump,Silver,United States,321418820.0,56115.71843
1357,1896,Athletics,Athletics,"HOYT, William Welles",Men,pole vault,Gold,United States,321418820.0,56115.71843
1358,1896,Athletics,Athletics,"TYLER, Albert",Men,pole vault,Silver,United States,321418820.0,56115.71843
1359,1896,Athletics,Athletics,"GARRETT, Robert",Men,shot put,Gold,United States,321418820.0,56115.71843
1360,1896,Athletics,Athletics,"CONNOLLY, James",Men,triple jump,Gold,United States,321418820.0,56115.71843
1361,1896,Shooting,Shooting,"PAINE, John",Men,25m army pistol,Gold,United States,321418820.0,56115.71843
1362,1896,Shooting,Shooting,"PAINE, Sumner",Men,25m army pistol,Silver,United States,321418820.0,56115.71843
1363,1896,Shooting,Shooting,"PAINE, Sumner",Men,50m pistol (60 shots),Gold,United States,321418820.0,56115.71843
1364,1900,Athletics,Athletics,"JARVIS, Francis",Men,100m,Gold,United States,321418820.0,56115.71843
1365,1900,Athletics,Athletics,"TEWKSBURY, Walter B. John",Men,100m,Silver,United States,321418820.0,56115.71843
1366,1900,Athletics,Athletics,"MOLONEY, Frederick",Men,110m hurdles,Bronze,United States,321418820.0,56115.71843
1367,1900,Athletics,Athletics,"KRAENZLEIN, Alvin",Men,110m hurdles,Gold,United States,321418820.0,56115.71843
1368,1900,Athletics,Athletics,"MCLEAN, John",Men,110m hurdles,Silver,United States,321418820.0,56115.71843
1369,1900,Athletics,Athletics,"BRAY, John",Men,1500m,Bronze,United States,321418820.0,56115.71843
1370,1900,Athletics,Athletics,"TEWKSBURY, Walter B. John",Men,200m,Gold,United States,321418820.0,56115.71843
1371,1900,Athletics,Athletics,"TEWKSBURY, Walter B. John",Men,200m hurdles,Bronze,United States,321418820.0,56115.71843
1372,1900,Athletics,Athletics,"KRAENZLEIN, Alvin",Men,200m hurdles,Gold,United States,321418820.0,56115.71843
1373,1900,Athletics,Athletics,"LONG, Maxwell W.Maxey",Men,400m,Gold,United States,321418820.0,56115.71843
...,...,...,...,...,...,...,...,...,...,...
5649,2008,Volleyball,Beach volley.,"ROGERS, Todd",Men,beach volleyball,Gold,United States,321418820.0,56115.71843
5650,2008,Volleyball,Beach volley.,"MAY-TREANOR, Misty",Women,beach volleyball,Gold,United States,321418820.0,56115.71843
5651,2008,Volleyball,Beach volley.,"WALSH, Kerri",Women,beach volleyball,Gold,United States,321418820.0,56115.71843
5652,2008,Volleyball,Volleyball,"BALL, Lloy",Men,volleyball,Gold,United States,321418820.0,56115.71843
5653,2008,Volleyball,Volleyball,"GARDNER, Gabriel",Men,volleyball,Gold,United States,321418820.0,56115.71843
5654,2008,Volleyball,Volleyball,"HANSEN, Kevin",Men,volleyball,Gold,United States,321418820.0,56115.71843
5655,2008,Volleyball,Volleyball,"HOFF, Thomas",Men,volleyball,Gold,United States,321418820.0,56115.71843
5656,2008,Volleyball,Volleyball,"LAMBOURNE, Richard",Men,volleyball,Gold,United States,321418820.0,56115.71843
5657,2008,Volleyball,Volleyball,"LEE, David",Men,volleyball,Gold,United States,321418820.0,56115.71843
5658,2008,Volleyball,Volleyball,"MILLAR, Ryan",Men,volleyball,Gold,United States,321418820.0,56115.71843
5659,2008,Volleyball,Volleyball,"PRIDDY, William",Men,volleyball,Gold,United States,321418820.0,56115.71843
5660,2008,Volleyball,Volleyball,"ROONEY, Sean",Men,volleyball,Gold,United States,321418820.0,56115.71843
5661,2008,Volleyball,Volleyball,"SALMON, Riley",Men,volleyball,Gold,United States,321418820.0,56115.71843
5662,2008,Volleyball,Volleyball,"STANLEY, Clayton",Men,volleyball,Gold,United States,321418820.0,56115.71843
5663,2008,Volleyball,Volleyball,"TOUZINSKY, Scott",Men,volleyball,Gold,United States,321418820.0,56115.71843
5664,2008,Volleyball,Volleyball,"AH MOW-SANTOS, Robyn",Women,volleyball,Silver,United States,321418820.0,56115.71843
5665,2008,Volleyball,Volleyball,"BERG, Lindsey",Women,volleyball,Silver,United States,321418820.0,56115.71843
5666,2008,Volleyball,Volleyball,"BOWN, Heather",Women,volleyball,Silver,United States,321418820.0,56115.71843
5667,2008,Volleyball,Volleyball,"DAVIS, Nicole",Women,volleyball,Silver,United States,321418820.0,56115.71843
5668,2008,Volleyball,Volleyball,"GLASS, Kimberly",Women,volleyball,Silver,United States,321418820.0,56115.71843
5669,2008,Volleyball,Volleyball,"HANEEF-PARK, Tayyiba",Women,volleyball,Silver,United States,321418820.0,56115.71843
5670,2008,Volleyball,Volleyball,"JOINES, Jennifer",Women,volleyball,Silver,United States,321418820.0,56115.71843
5671,2008,Volleyball,Volleyball,"NNAMANI, Ogonna",Women,volleyball,Silver,United States,321418820.0,56115.71843
5672,2008,Volleyball,Volleyball,"SCOTT-ARRUDA, Danielle",Women,volleyball,Silver,United States,321418820.0,56115.71843
5673,2008,Volleyball,Volleyball,"SYKORA, Stacy",Women,volleyball,Silver,United States,321418820.0,56115.71843
5674,2008,Volleyball,Volleyball,"TOM, Logan",Women,volleyball,Silver,United States,321418820.0,56115.71843
5675,2008,Volleyball,Volleyball,"WILLOUGHBY, Kim",Women,volleyball,Silver,United States,321418820.0,56115.71843
5676,2008,Wrestling,Wrestling Free.,"CEJUDO, Henry",Men,- 55kg,Gold,United States,321418820.0,56115.71843
5677,2008,Wrestling,Wrestling Free.,"MILLER, Randi",Women,55 - 63kg,Bronze,United States,321418820.0,56115.71843
5678,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",Men,84 - 96kg,Bronze,United States,321418820.0,56115.71843